html {
    font-size: 2rem;
    font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(lightyellow, orange);
}
header {
    margin-bottom: 30px;
    text-align: center;
}
select {
    font-size: 1.1rem;
}
.mainContainer {
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
}
.column {
    flex: 1;
}
img {
    max-width: 900px;
    max-height: 700px;
}
span {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.3rem;
}
#dogName {
    text-decoration: none;
    font-size: 2rem;
}
#leftColumn {
    text-align: center;
}